
  
    html{
        height: 100%;
    }
    body {
        background-color: lightblue;
        background: linear-gradient(180deg, rgba(85,128,233,1) 0%, rgba(132,206,235,1) 25%, rgba(90,184,235,1) 50%, rgba(193,200,228,1) 75%, rgba(136,96,208,1) 100%);
        min-height: 100%;
        font-family: 'Roboto', sans-serif;
  }
/* Available  Rides */
    .btn {
        background: rgb(96,146,233);
        background: linear-gradient(180deg, rgba(96,146,233,1) 0%, rgba(192,199,227,1) 100%);
        border: 1px solid rgba(255,255,255,35);
        border-radius: 20px;
        color: white;
        font-size: 20px;
    }

    .btn:focus {
        outline:none;  
    }

    #name-time-free-seats-icons{
        display: flex;
        justify-content: space-around;
        margin-bottom: -23px;
        color: white;
        font-size: 20px;
    }
    .name-icon{
        text-align: center;
        align-self: flex-end;
        flex-basis: 52%
        
    }
    .clock-icon{
        text-align: center;
        align-self: flex-end;
        flex-basis: 8%
    }
    .friends-icon{
        text-align: center;
        align-self: flex-end;
        flex-basis: 3%
    }

    #available-rides{
        margin: 10px;
    } 

    .available-rides-info{
        width: auto;
        display: flex;
        justify-content: space-evenly;
        height: 60px;
    }

    .available-rides-name{
        flex-basis: 65%;
        margin-top: 11px;
        margin-right: 5px;
        height: 52px;
    }

    .available-rides-time{
        flex-basis: 20%;
        margin-top: 11px;
        margin-right: 5px;
        height: 52px;
    }

    .available-rides-free-seats{
        flex-basis: 15%;
        margin-top: 11px;
        margin-right: 5px;
        height: 52px;
    }

    .available-rides-back{
    display: flex;
    justify-content: center;
    margin-top: 23px;
    }
/* Available  Rides */
    
    .back-btn{
        text-align: center;
        width: 86px;
        height: 76px;
    }

    .available-rides-next-prev{
        display: flex;
        justify-content: center;
        margin-top: 23px;
    }

    .next-prev{
        text-align: center;
        width: 43px;
        height: 38px;
        margin-left: 15px;
        margin-right: 15px;
    }

    /* .next{
        display: none;
    } */

    /* .prev{
        display: none;
    } */