html{
    height: 100%;
    
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: lightblue;
    background: linear-gradient(180deg, rgba(85,128,233,1) 0%, rgba(132,206,235,1) 25%, rgba(90,184,235,1) 50%, rgba(193,200,228,1) 75%, rgba(136,96,208,1) 100%);
    min-height: 100%;
}
.logo-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 296px;
    height: 102px;
    color: white;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}




.info-container{
    font-family: 'Roboto light';
    font-style: 'italic';
    font-size: 23pt;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 343px;
    height: 352px;
    background: rgba(96, 146 ,233);
    background: linear-gradient(180deg, rgba(96,146,233,1) 0%,
    rgba(192,199,227,1) 100%);
    Border: 1px solid rgba(255,255,255,35);
    border-radius: 20px;
    text-align: center;
    color: white;
    
    
}
.driver-img {
    width: 120px;
    height: 120px;
}
.car-img{
    width: 120px;
    height: 120px;
}
.buttons-container{
    display: flex;
    justify-content: center;
}

.confirm-btn{
    font-family: 'Roboto';
    font-style: 'medium';
    font-size: 23pt;
    width: 188px;
    height: 76px;
    background: rgb(195,227,242);
    background: linear-gradient(180deg, rgba(195,227,242,1) 0%, rgba(63,169,226,1) 100%);
    font-family: 'Roboto medium' ;
    font-size: 23px;
    text-align: center;
    color: white;
    display: block;
    margin-left: 520px;
    margin-bottom: 22px;
    margin-top: 21px;
    padding: 15px 32px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}

.back-btn{
    width: 88px;
    height: 76px;
    background: rgb(195,227,242);
    background: linear-gradient(180deg, rgba(195,227,242,1) 0%, rgba(63,169,226,1) 100%);
    font-family: 'Roboto medium' ;
    font-size: 23px;
    text-align: center;
    color: white;
    display: block;
    margin: auto;
    margin-right: 520px;
    margin-bottom: 22px;
    margin-top: 21px;
    padding: 10px 18px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    
}